<nav>
  <a href="" class="loadView btn" data-view="login">Sign In</a>
</nav>

		<h1>Mino Framework</h1>

<div class="include" data-view="register"></div>

<a href="" class="loadView" data-view="login" data-to="#here">click to load login</a>
<div id="here"></div>

<h3>Testing URL Vars</h3>
<input type="text" value="urlArgs">

<h3>Testing Search</h3>
<input type="text" class="search" placeholder="Search..." data-model="searches" data-method="search" data-to="#sres">
<div id="sres">
</div>

<h3>Testing Polling</h3>
<div class="onLoadPoll" data-model="searches" data-method="search" data-send="jon" data-time="5000"></div>
